*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    position: relative;
}
.container{
  background: linear-gradient(to right, #910b28, #310509);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    color: white;
}
.cont2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   position: relative;
   display: flex;
    justify-content: space-between;
}
.st{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: #07570e;
    color: #fff;
    border: none;
    cursor: pointer;
}
.delete{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
}
.age{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}
.message{
    position: absolute;
  width: 200px;
  height: 100px;
  top: 100px;
  left: 781px;
  background: linear-gradient(to right, #910b28, #310509);
  border-radius: 10px;
  display: none;
  color: white;
  padding: 10px;
}
.message::after{
    content: '';
  position: absolute;
  width: 0px;
  height: 45px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #910b28;
  top: 99px;
  left: 6px;
}